h5py==3.7.0
nltk==3.7
numpy
opencv-python==4.6.0.66
pandas==1.4.3
scikit-learn==1.1.1
tensorboard==2.9.1
torch
torchtext==0.6.0
torchvision
matplotlib==3.5.2
jupyter==1.0.0
ipywidgets==7.7.1
stanza==1.4.0